.DS_Store
.vscode/
todo.txt

**/*.rs.bk
bindings.rs
Cargo.lock
target/

*.egg-info/
.eggs/
.mypy_cache
build/
dist/
*$py.class
*.py[cod]
__pycache__/
*.so
venv*/
.python-version

node_modules/
yarn.lock
