include README.md
include argonautica-py/README.md
graft argonautica-py/argonautica
graft argonautica-py/examples
graft argonautica-py/test
include argonautica-py/benchmark.py
include LICENSE-APACHE
include LICENSE-MIT

include pyproject.toml

graft argonautica-c
graft argonautica-rs
include Cargo.toml

prune argonautica-c/target
prune argonautica-rs/target
prune argonautica-rs/tests
global-exclude *.pyc
